.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .items li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    border-radius: 4px;
  }
  .items li:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  .items li.selected {
    background-color: black;
    color: white;
  }
  .items li.selected:hover {
    background-color: #505050;
    color: white;
  }
  .items li.selected:active {
    background-color: black;
    color: white;
  }
  input {
    padding: .5rem;
  }