div#cart-wrapper {
    height: calc(100vh - 70px);
    position: relative;
}

.checkout {
    padding:8px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    background-color: lightcoral;
}

div#header {
    outline: 2px solid black;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    p {
        margin: 1px;
        display: flex;
        justify-content: space-between;
    }
}

h2 {
    font-size: 1.3rem;
    text-align: center;
}

ul {
    padding: 0 5px;
    text-align: left;
    li {
        list-style-type: none;  
        p {
            margin: 3px;
            display: flex;
            justify-content: space-between;
        }
    }
}

div#cart-bottom {
    width: 100%;
    outline: 1px solid black;
    position: absolute;
    bottom: 0;
    p {
        margin: 1px;
        display: flex;
        justify-content: space-between;
    }
}
