<div class="checkout" (click)="checkout()">Checkout</div>
<button class="btn btn-lg bt-outline-primary" (click)="open(content)">Checkout</button>
<h2>Total {{cartItemsTotal | currency}}</h2>
<ul>
    <li *ngFor="let item of cartItems; index as i">
        <span (click)="itemClick(i)">{{item.name}} ... {{item.price | currency}}</span>
    </li>
</ul>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          Your total is $3.556
        </div>
      </div>
      <div>
        <label for="input">Enter Cash Amount</label>
        <input>
      </div>
      <div>
        <label for="input">Enter Card Number</label>
        <input>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="pay('credit');modal.close('payed with credit')">Credit Card</button>
    <button (click)="pay('cash');modal.close('payed with cash')">Cash</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>