.checkout {
    padding:8px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    background-color: lightcoral;
}

h2 {
    font-size: 1.3rem;
    text-align: center;
}

ul {
    padding: 0 5px;
    text-align: left;
}

li {
    list-style-type: none;
    padding: 10px 0;
}