h1 {
    text-align: center;
}

h2 {
    text-align: center;
    cursor: pointer;
}

div.half_and_half {
    width:40%;
    float:left;
}

div.wrapper_router_with_cart {
    width: 70%;
    float:left;
}

div.wrapper_router_no_cart {
    width: 70%;
    margin: 0 auto;
}

div.wrapper_cart_with_cart {
    width: 30%;
    float:left;
    background-color:lightcyan;
}

div.wrapper_cart_no_cart {
    display: none;
}
