h1 {
    text-align: center;
}

h2 {
    text-align: center;
    cursor: pointer;
}

div.wrapper {
    margin-left: 50px;
    margin-right: 50px;
    height: calc(100vh - 70px);
    background-color: lightseagreen;
}

div.wrapper_router_with_cart {
    width: 75%;
    float:left;
}

div.wrapper_router_no_cart {
    width: 100%;
    margin: 0 auto;
}

div.wrapper_cart_with_cart {
    width: 25%;
    float:left;
    background-color:lightcyan;
}

div.wrapper_cart_no_cart {
    display: none;
}
