h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    span {
        padding: 10px;
        background: blue;
        color: white;
    }
}

div.wrapper {
    margin-left: 50px;
    margin-right: 50px;
}

div.wrapper_router_with_cart {
    width: 75%;
    float:left;
}

div.wrapper_router_no_cart {
    width: 100%;
    margin: 0 auto;
}

div.wrapper_cart_with_cart {
    width: 25%;
    float:left;
    background-color:lightcyan;
}

div.wrapper_cart_no_cart {
    display: none;
}
